#about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#about_content{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 80px 0 120px;

}

#about_content h3{
    font-size: 32px;

}

#aboutme_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

#aboutme_content p{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#myskills_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(2,30px);
    
}

.skill{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.fa-html5{
    color: #e44d26;
}
.fa-css3-alt{
    color: #0071bc;
}
.fa-js{
    color: #f7df1e;
}
.fa-react{
    color: #60e7ff;
}
.fa-node-js{
    color: #7eb672;
}
.fa-figma{
    color: #a259ff;
}
.fa-chrome{
    color: #ef3f36;
}
.fa-git-alt{
    color: #de4c36;
}

.skills-grid i{
    font-size: 1.05rem;
}

.skills-grid img{
    width: 1.05rem;
}



#projects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}

.project-img{
    width: 360px;
    height: 460px;
    transition: transform 0.3s;
    border-radius: 5px;
}

.project-img:hover{
    transform: scale(1.1);
}

.project-desc{
    position: absolute;
    top: 0;
    padding: 20px 0 0 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
    
}

.project-desc p{
  
    font-size: 16px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.project-desc h4{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}



#projects_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.project-btn button{
    border: none;
    height: 60px;
    width: 240px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

.project-btn button:hover{
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.project-btn button i{
    font-size: 0.85rem ;
    
}