footer{
    background-color: #000;
    color: #ffffff;
    height: 400px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#footer_nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
}

#footer_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

#footer_info a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

#footer_personal{
    display: flex;
    flex-direction: column;
    gap: 23px;
}